@model List<Team28Delivery.Models.CustomerUser>

<!DOCTYPE html>


<h2>Customer users</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Street Address</th>
            <th>Suburb</th>
            <th>PostalCode</th>
            <th>State</th>
            <th>Country</th>
            <th>UserType</th>
            <th>Email</th>
        </tr>
                
    </thead>
    <tbody>

        @foreach (var customeruser in Model)
        {
            <tr>
                <td>@customeruser.FirstName</td>
                <td>@customeruser.LastName</td>
                <td>@customeruser.Phone</td>
                <td>@customeruser.StreetAddress</td>
                <td>@customeruser.Suburb</td>
                <td>@customeruser.PostalCode</td>
                <td>@customeruser.State</td>
                <td>@customeruser.Country</td>
                <td>@customeruser.UserType</td>
                <td>@customeruser.Email</td>
            </tr>
        }
                

    </tbody>
</table>

